doctype html
html
    head
        meta(charset='UTF-8')
        title Hello, world
        meta(name='viewport' content='with=devide-width')
        
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'
         integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7' crossorigin='anonymous')
        link(rel='stylesheet' href='styles/app.css')
    body
         .container
            .row
                .col-md-6.text-editor
                    #text-editor
                #visual-editor.col-md-6.visual-editor

                
                   // .var-box#var1
                   //     input#bool-var(type='checkbox' checked data-toggle='toggle' data-size='small'
                   //          data-on='true' data-off='false')
                   // .var-box#var2
                   //     .input-group
                   //         span.input-group-addon string
                   //         input.form-control#string-var(type='text' placeholder='text...' 
                   //             aria-describedby='sizing-addon2')
                    
         script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
         script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' 
           integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS' crossorigin='anonymous')          
         script(src='https://cdn.jsdelivr.net/ace/1.2.3/min/ace.js')
         script(src='scripts/app.js')
         
