doctype html
html
    head
        meta(charset='UTF-8')
        title Hello, world
        meta(name='viewport' content='with=devide-width')
        
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'
         integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7' crossorigin='anonymous')
        link(rel='stylesheet' href='styles/app.css')
    body
         .container
            .row
                .col-md-6.text-editor
                    #text-editor
                #visual-editor.col-md-6.visual-editor
                    .tree.wall
                        ul
                            li
                                span.tree-element
                                    i.icon-folder-open
                                    | Array[ ]
                                ul
                                    li
                                        span.tree-element
                                            i.icon-minus-sign
                                            | 0: Array[ ]
                                            ul
                                                li
                                                    span.tree-element
                                                        i.icon-minus-sign
                                                        | 0: 
                                                        span.glyphicon.glyphicon-sort-by-order(aria-hidden='true') 
                                                        input(type='number' value='123')
                                    li
                                        span.tree-element
                                            i.icon-minus-sign
                                            | 1: Object{ }
                                        ul
                                            li
                                                span.tree-element
                                                    i.icon-leaf
                                                    | child0:
                                                    span.glyphicon.glyphicon-sort-by-order(aria-hidden='true') 
                                                    input(type='number' value='456')
                                            li
                                                 span.tree-element
                                                    i.icon-minus-sign
                                                    | child1: Object{ }
                                                 ul
                                                    li
                                                        span.tree-element
                                                            i.icon-minus-sign
                                                            | childObject: Object{ }
                                                        ul
                                                            li
                                                                span.tree-element
                                                                    i.icon-leaf
                                                                    | bool
                                                                    div.tgl-btns
                                                                        input.tgl.tgl-skewed(type='checkbox')
                                                                        label.tgl-btn(data-tg-off='false' data-tg-on='true')
                                                            li
                                                                i.icon-leaf
                                                                button.btn.btn-default(type='button') null
                                                    li
                                                        span.tree-element
                                                            i.icon-minus-sign
                                                            | text:
                                                            span.glyphicon.glyphicon-text-background(aria-hidden='true') 
                                                            input(type='text' value='xyz')
                                                    li
                                                        span.tree-element
                                                            i.icon-minus-sign
                                                            | number:
                                                            span.glyphicon.glyphicon-sort-by-order(aria-hidden='true') 
                                                            input(type='number' value='789')
                                            li
                                                span.tree-element
                                                    | child2:
                                                    span.glyphicon.glyphicon-text-background(aria-hidden='true') 
                                                    input(type='text' value='abc')
                   
         script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
         script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' 
           integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS' crossorigin='anonymous')          
         script(src='https://cdn.jsdelivr.net/ace/1.2.3/min/ace.js')
         script(src='scripts/app.js')
         
